<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="650869901683-b5eobjmol8j16jruue69p9n2jko96jbd.apps.googleusercontent.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <style type="text/css">
      .welcome{
        display: inline-block;
        text-transform: uppercase;
        color: blue;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>

    <script type="text/javascript">
    //Facebook button code 
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2011092822272498',
          cookie     : true,
          status     : true,
          xfbml      : true,
          version    : 'v3.2'
        });   
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            FB.api('/me', function(res) {
              var text = document.getElementById("welcome").innerHTML;
              text = text.substring(0,32) + res.name;
              document.getElementById("welcome").innerHTML = text;
              document.getElementById("welcome").removeAttribute("style");
            });
          }
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
    //Google button code
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        var text = document.getElementById("welcome").innerHTML;
        text = text.substring(0,32) + profile.getName();
        document.getElementById("welcome").innerHTML = text;
        document.getElementById("welcome").removeAttribute("style");
      }
    </script>

    <!--FB button-->
    <div id="facebook" class="fb-login-button" data-width="100" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    
    <br>
    <br>

    <!--Google buton-->
    <div id="google" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  
    <!--Link to search-->
    <div id="welcome" class="welcome" style="display:none"><%= link_to 'WELCOME ', '/rentals'%></div>
      
  </body>
</html>